* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 20px 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  h1 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
  form {
    display: flex;
    align-items: end;
    gap: 20px;
    label {
      display: flex;
      flex-direction: column;
      gap: 6px;
      input {
        all: unset;
        padding: 8px 18px;
        border: 1px solid black;
        border-radius: 8px;
      }
    }
    button {
      padding: 8px 18px;
      background-color: #24a0ed;
      border-color: #24a0ed;
      border-radius: 8px;
    }
  }
  table{
    width: 100%;
    border-spacing: 8px;
    // tr:nth-child(1){
        // color: grey;
    // }
  }
}
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;	
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    left: 0px;
    .modal-dialog {
        padding: 20px;
        width: 500px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        background-color: white;
        form {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            background-color: white;
            input {
                width: 94%;
            }
            .cancel {
                background-color: brown;
                border-color: brown;
            }
            width: 100%;
        }
        border-radius: 14px;
    }
    display: none;
}
.show {
    display: flex !important;
}
